.bg-red .navbar-nav .nav-link {
    color: #AA0601;
}
.background{
    color: #FBF2F2;
    margin:0px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.text1{
    text-align: center;
}

.intro{
    width: 310px;
    display:inline-block;
    text-align: center;
}

.type{
    width: 500px;
    display:inline-block;
    text-align: center;
}

.glass{

}

h1, h2{
    font-family: Roboto, Noto Sans TC;
    color: #AA0601;  
}

p{
    font-family: Roboto, Noto Sans TC;
    color: #000000;  
}

@media screen and (min-width: 680px) {
    .logo{
        padding: 0% 45% 0% 15%;
        display: inline-block;
    }

    /* .container{
        padding: 0% 0% 0% 60%;
    } */

    nav li:first-child {
      padding-left: 30px;
    }
    nav li {
      display: inline-block;
      padding-right: 30px;
    }
}

@media (min-width: 480px) and (max-width: 680px) {
    nav li {
      text-align: center;
    }
    nav ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
}